/* Change Input Placeholder color: https://www.w3schools.com/howto/howto_css_placeholder.asp */

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

/* CSS input styling: https://www.w3schools.com/css/css_form.asp */
input {
  outline: none;
}

input[type="text"]:focus {
  border: 3px solid #555;
}
